@import '../scss/utils/animations.scss';


.homepage {
    background-image: url('../img/wall1.jpg');
    width:100%;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay {
    background-image: linear-gradient(to left, rgba(black, .4), rgba(255,0,0,.1));
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    animation-name: overlay;
    animation-duration: 2s;
}


.zz {
    visibility: hidden;
    animation-name: opac;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    font-size: 18px;
    position: relative;
    display: inline-block;

    & p {
         color:lightgray;
    }
}

#login-form-wrapper.shown {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    visibility: visible;
     opacity: 1;
  }

  #login-form-wrapper {
    visibility: hidden;
    opacity: 0;
  }


#login-form {
    width:40%;
    
    .form-control {
        background:none;
        border-color:$orange-color;
    }

    ::placeholder, input {
        color:lightgray;
    }
}


// animations
@include animation-mixin(overlay);

