
.register {
    background-image: url('https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    width:100%;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


#register-form-wrapper.shown {
    -webkit-transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -ms-transition: 1.5s ease-in-out;
    -o-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
    visibility: visible;
    opacity: 1;
}

#register-form-wrapper {
    #register-form {
        input:focus, input {
            box-shadow:none;
        }
        width:40%;
        
        .form-control {
            background:none;
            border-color:$orange-color;
        }
        
        ::placeholder, input {
            color:black;
        }

        &-forgot-password:hover {
            color:darken($orange-color, 20%);
        }

        &-register {
            color:orange;
            background:#22240C;
            padding:5px 10px;
            border-radius:2px;

            &:hover {
                color:lighten($orange-color, 20%);
            }
        }


    }
}

